#auth-wrapper {
    padding: 100px 0px 150px 0px;
    min-width: 1440px;
    height: calc(100vh - 68px - 100px - 150px);
    min-height: 960px;

    display: flex;
    justify-content: center;
    align-items: center; /* 안 써도 됨 */

    background-image: url(assets/auth-background.png);
    background-position: 50% 50%; /* 중앙 정렬 */
    background-repeat: no-repeat;
    background-size: auto;
}

.auth-container { /* 위아래 다 차도록 */
    width: 1200px;
    height: 100%;

    display: grid;
    grid-template-columns: 7fr 5fr; /* 7대 5의 비율 */
    column-gap: 78px;
}

.auth-jumbotron-box {
    grid-column: 1 / 2;
    
    height: 100%;
    
    display: flex;
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 (=교차축) 중앙 정렬 */
}

.auth-jumbotron-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.auth-logo-icon {
    width: 50px;
    height: 50px;
    background-image: url(assets/auth-logo.png);
    background-position: 50% 50%;
    background-size  : 100% 100%;
}

.auth-jumbotron-text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.auth-jumbotron-text {
    color: rgba(255, 255, 255, 1);
    font-family: 'GimhaeGaya';
    font-size: 40px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: -1.2px;
}